# **python 3: essentials** - part 2/11

## **lists** 
lists are non-specific containers/iterable ordered sequences of other variables types and can be defined by using square brackets and separating the variables within the same list with commas

In [22]:
k1=[1,2,3,4]
print('k1 =',k1,'; the built-in data type of the variable k1 is',type(k1))
# lists can also be defined by using the function list, which takes only one input
k11=list('ciao')  # e.i. starting from a string or a tuple  (to modify them)
print('k11 =',k11,'; the built-in data type of the variable k11 is',type(k11))

k1 = [1, 2, 3, 4] ; the built-in data type of the variable k1 is <class 'list'>
k11 = ['c', 'i', 'a', 'o'] ; the built-in data type of the variable k11 is <class 'list'>

a list can contain items of different types: when a list contains other lists, we're dealing with **nested lists**:

In [23]:
k2=[5,6,7,8]
k3=[k1,k2]
print('k3 =',k3,'; the built-in data type of the variable k3 is',type(k3))

k3 = [[1, 2, 3, 4], [5, 6, 7, 8]] ; the built-in data type of the variable k3 is <class 'list'>

since lists are iteable sequences, they can be indexed and sliced:

In [24]:
k4=k1[0:2]
print('k4 =',k4,'; the built-in data type of the variable k4 is',type(k4))

k4 = [1, 2] ; the built-in data type of the variable k4 is <class 'list'>

they also support sum and multiplication, which are interpreted as concatenation and repetition: since the lists are ordered, sum is not commutative in this context:

In [25]:
k5=k1+k2
print('k5 =',k5,'; the built-in data type of the variable k5 is',type(k5))
k6=k2+k1
print('k6 =',k6,'; the built-in data type of the variable k6 is',type(k6))
k7=k1*3
print('k7 =',k7,'; the built-in data type of the variable k7 is',type(k7))

k5 = [1, 2, 3, 4, 5, 6, 7, 8] ; the built-in data type of the variable k5 is <class 'list'>
k6 = [5, 6, 7, 8, 1, 2, 3, 4] ; the built-in data type of the variable k6 is <class 'list'>
k7 = [1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4] ; the built-in data type of the variable k7 is <class 'list'>

lists are a **mutable** type of variable, their content can be changed:

In [26]:
k8=k1
k8[0]=10
print('k8 =',k8,'; the built-in data type of the variable k8 is',type(k8))

k8 = [10, 2, 3, 4] ; the built-in data type of the variable k8 is <class 'list'>

with tons of useful methods and suitable functions that can be used to work with strings: here are the most useful examples:

In [27]:
k9=k5
k9.append(10)
print('k9 =',k9,'; the built-in data type of the variable k9 is',type(k9))
k10=k9
k10.insert(8,9)
print('k10 =',k10,'; the built-in data type of the variable k10 is',type(k10))

k9 = [1, 2, 3, 4, 5, 6, 7, 8, 10] ; the built-in data type of the variable k9 is <class 'list'>
k10 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] ; the built-in data type of the variable k10 is <class 'list'>

## **tuples** 
tuples are similar to lists but they are defined with round brackets and are **immutable** (aka they do not support item assignments): they usually come around as outputs of graphic functions and are employed (in terms of software design) mainly because they take up less space than lists

In [28]:
l1=(1,2,3,4)
print('l1 =',l1,'; the built-in data type of the variable l1 is',type(l1))
# tuples are automatically defined when more than one value is assigned to a single variable
l2=5,6,7,8
print('l2 =',l2,'; the built-in data type of the variable l2 is',type(l2))
# and can also be created by using the function tuple
l3=tuple('ciao')
print('l3 =',l3,'; the built-in data type of the variable l3 is',type(l3))

l1 = (1, 2, 3, 4) ; the built-in data type of the variable l1 is <class 'tuple'>
l2 = (5, 6, 7, 8) ; the built-in data type of the variable l2 is <class 'tuple'>
l3 = ('c', 'i', 'a', 'o') ; the built-in data type of the variable l3 is <class 'tuple'>

## **sets**

A set is an **unordered** collection of unique/non-repeating elements. Basic uses include membership testing and eliminating duplicate entries. Set objects also support mathematical operations like union, intersection, difference.

In [1]:
a={2,3}
type(a)
a.add(4)
a

{2, 3, 4}


|Operation | equivalent | result |
|-|-|-|
|s.issubset(t) | s <= t | test whether every element in s is in t |
|s.issuperset(t)|s >= t|test whether every element in t is in s|
|s.union(t)|s \| t|new set with elements from both s and t|
|s.intersection(t)|s & t|new set with elements common to s and t|
|s.difference(t)|s - t|new set with elements in s but not in t|
|s.symmetric_difference(t)|s ^ t|new set with elements in either s or t but not both|
|s.copy()||new set with a shallow copy of s|

Full documentation: [sets — Unordered collections of unique elements](https://docs.python.org/2/library/sets.html)

Creating a set from a list

In [2]:
a = [1,2,3,3]
print(a)
b = set(a)
print(b)

[1, 2, 3, 3]
{1, 2, 3}

A set is not ordered but is iterable

In [3]:
a = {88,3,4,6,7,7,7,7,2,2,3,3}
for e in a:
    print(e)

2
3
4
6
7
88

## **dictionaries**

Dictionaries are sometimes found in other languages as “associative memories” or “associative arrays”.

It is best to think of a dictionary as a **set of key: value pairs**, with the requirement that the **keys are unique** (within one dictionary). 

A pair of braces creates an empty dictionary: {}

Unlike sequences, which are indexed by a range of numbers, dictionaries are indexed by keys, which can be any immutable type; **strings and numbers can always be keys**

In [4]:
a = {'cat':10, 'dog':11, 9:4}

In [5]:
a[9]

4

In [6]:
del a[9]
a

{'cat': 10, 'dog': 11}

When the keys are just strings a convenient way of creating a dictionary is:

In [7]:
dict(cat=9, dog=89)

{'cat': 9, 'dog': 89}

Adding a new element

In [8]:
a['other']=18
a

{'cat': 10, 'dog': 11, 'other': 18}

Two fundamental methods: **.keys** , **.values** and **items** (see the full documentation [here](https://docs.python.org/3/library/stdtypes.html#mapping-types-dict))

In [9]:
for e in a.keys():
    print(e)

cat
dog
other

In [10]:
for e in a.values():
    print(e)

10
11
18

In [11]:
for e in a.items():
    print(e)

('cat', 10)
('dog', 11)
('other', 18)

## **List comprehension**
provides an more conciese way to create lists (and other collection-type objects) through the use of for-loops

In [7]:
# let's compile a list with the square of the first 10 integer numbers
c12=[]
for c13 in range(1,11):
    c12.append(c13**2)
print(c12)
    
c14=[c15**2 for c15 in range(1,11)]
print(c14)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
# let's compile a list with the even numbers smaller than 11
c16=[]
for c17 in range(11):
    if c17%2==0:
        c16.append(c17)
print(c16)
    
c18=[c19 for c19 in range(11) if c19%2==0]
print(c18)

[0, 2, 4, 6, 8, 10]
[0, 2, 4, 6, 8, 10]